<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps</title>

    <link rel="manifest" href="app.webmanifest" />
  </head>
  <body class="container">
    <skip-to-content main-content-id="restaurant-list"></skip-to-content>
    <restaurant-nav></restaurant-nav>
    <loading-indicator></loading-indicator>

    <div id="app"></div>

    <restaurant-footer></restaurant-footer>
  </body>
</html>
