<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps</title>
  </head>
  <body class="container">
    <skip-to-content main-content-id="restaurant-list"></skip-to-content>
    <restaurant-nav></restaurant-nav>
    <loading-indicator></loading-indicator>

    <img id="jumbotron" style="margin-bottom: 1rem; display: none" />
    <h1>Explore Restaurant</h1>
    <div id="restaurant-list"></div>

    <restaurant-footer></restaurant-footer>
  </body>
</html>
