#skip-to-content {
  position: absolute;
  padding: 1rem 4rem;
  top: -100%;
  background-color: aqua;
}

#skip-to-content:focus {
  top: 0;
}

.container {
  padding: 1rem;
}

img {
  display: block;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
}
